/* Header start */
.header-container{
  background-image:url(Assets/Hero-bg.png);
  background-size: cover;
  height:800px;
}
.main-header{
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin:0px 150px;
}
.logo{
  color:#4E47FF;
  font-family: 'Inter', sans-serif;
  font-weight: 900;
  font-size:34px;
  margin-top:50px;
}
.signup{
   margin-top:50px;

}
.primary-btn{
  text-decoration: none;
  background-color:#4E47FF;
  color:white;
  padding:15px 18px;
  font-weight:bold;
  border-radius:5px;
}
.text-container{
  text-align:center;
  margin:150px 268px;
}
.header-title{
  color:#252432;
  font-weight:bold;
  font-size:60px;
}
/* Header end */

/* Action start */
.action{
  display:flex;
  justify-content: space-between;
   align-items: center;
  /* gap:150px; */
  margin:116px 160px;
  height:380px;
  width:auto;
 
}

.action-title{
  font-weight:bold;
  font-size:42px;
  color:#252432;
  margin-bottom:25px;
}
.action-sub-title{
  font-size:24px;
  line-height: 30px;
  color:#252432;
  margin-bottom: 35px;
}

.action-right-container img{
  height:100%;
  border-radius:48px;

}
/* action end */
/* productive data start */
.productive-section{
  background-color:antiquewhite;
  text-align:center;
  height:auto;
  width:auto;
  margin:100px 140px ;
  border-radius:24px;
}
.productive-container{
  padding:30px 80px;
}
.productive-title{
  color:#252432;
  font-size:38px;
  font-weight:bold;
  margin:20px 140px;
}

.productive-data-container{
   display:flex;
   justify-content: space-around;
 
}
.pro-sub-title{
  font-size:80px;
  font-weight:bold;
  color:#4E47FF;
}
.pro-sub-data{
  font-weight:20px;
  font-family: 'Inter', sans-serif;

}
/* productive-section end */
/* card-section start */
.card-section{
  margin:137px 150px;
  width:auto;
  height:350px;
}
.card-title{
  text-align:center;
  color:#252432;
  font-weight:bold;
  font-size:42px;
}
.card-container{
  display:flex;
  justify-content:space-around;
}
.card-primary{
  background-color:#F2EDED;
  border-radius:14px;
  padding:20px;
}
.card-secondary{
  display:flex;
  gap:7px;
}
.card-secondary img{
  width:50px;
  height:50px;
  border-radius:9999px;
  margin-top:22px;
}
.card-tertiary p{
  margin-top:0px;
}